---
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Archive of Soviet Trumpet Music</title>
    <style>
      html, body {
        margin: 0;
        padding: 0;
        height: 100%;
      }

      body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
      }

      main {
        flex: 1; /* main content grows to push footer to bottom */
      }
    </style>
  </head>
  <body>
    <Navbar />

    <main>
      <slot />
    </main>

    <Footer />
  </body>
</html>
